{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest/globals": true,
    "cypress/globals": true
  },
  "plugins": [
    "react", "jest", "cypress"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "max-len": [1, 200],
    "no-shadow": 0,
    "no-plusplus": 0,
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": [
      1,
      {
        "skipUndeclared": true
      }
    ],
    "no-unused-vars": [
      "error", 
      { "argsIgnorePattern": "^_" }
    ]
  }
}